@charset "utf-8";
/* CSS Document */

body {
	  text-align: center;
}
input {
	  margin-bottom: 20px;
  min-width: 300px;
  margin-left: 10px;
}
li {
  list-style: none;
  padding: 10px 0px;
}

#questionlist {
  margin: 0;
  padding: 0;
}
#questionlist > li {
  padding: 10px;
}

.questionbtn {
  width: 100%;

}


body.student {
	display: table;
  width: 100%;
   background:#eee;
}
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}
* {
	transition:0.5s linear;
}
.student  .show {
	opacity:1;
	max-height:9999999px;
}
.student .container {
	  text-align: center;
	 
	    height: 100vh;
  vertical-align: middle;
  display: table-cell;
  /* margin: 0 auto; */
  width: 100%;
}
.student input {
	margin-bottom:20px;
}
.student li {
  list-style: none;
   padding: 30px;
}
.student ul {  
	-webkit-margin-before: 0em;
	padding-left: 0px;
}
.student li {
    transition: 0.5s linear all;
    opacity: 1;
	
}
.student li.ng-hide, .ng-hide:not(.ng-hide-animate) {
  opacity: 0;
  height: 0;
  max-height: 0px;

}
.student li.ng-show {
    opacity: 1;
	max-height:999px;
	display:block;
	height:auto;
}

#questionlist li button + div {
  background-color: #eee;
  padding: 20px;
  border-radius: 0px 0px 5px 5px;
}

.progress {
	  height: 20px!important;
}
.progress .progress-bar {
  font-size: 14px;
  line-height: 20px;
}
.responded {
	color:#18bc9c;
	font-weight:bold;
}
.wrongAnswer {
  color: #F00;
  font-weight:normal;
}
h1 img {
  width: 80%;
  max-width: 500px;
  height: auto;
  margin-bottom: 40px;
}
.student input {
  margin: 20px 0px;
}