@charset "utf-8";
/* CSS Document */

body {
	  text-align: center;
}
input {
	margin-bottom:20px;
}
li {
  list-style: none;
  padding: 10px 0px;
}
.container {
	  height: 100vh;
  vertical-align: middle;
  display: table-cell;
  /* margin: 0 auto; */
  width: 100%;
}